In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('Dummydatanew.xlsx')
df

,Name,Major,2018,2019,2020,2021,2022
0,Coleman University,ADVERTISING AND PUBLIC RELATIONS,159,190,229,202,338
1,University of Notre Dame,ACTUARIAL SCIENCE,361,253,404,426,278
2,Oakland City University,PUBLIC POLICY,207,217,314,283,337
3,Dominican University of California,COMMUNICATION TECHNOLOGIES,306,122,57,196,225
4,Clearwater Christian College,MISCELLANEOUS EDUCATION,44,31,94,129,78
...,...,...,...,...,...,...,...
9659,Thomas College,SCHOOL STUDENT COUNSELING,40,115,58,91,7
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,-119,-290,-388,-429
9661,Embry-Riddle Aeronautical University-Prescott,INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY,226,341,338,432,592
9662,Wesleyan College,PHARMACOLOGY,210,339,351,506,315
9663,Roosevelt University,MARKETING AND MARKETING RESEARCH,64,155,-31,-50,57

In [24]:
df = df.rename(columns={'Name': 'School Name'})

In [25]:
df.iloc[:, 2:] = df.iloc[:, 2:].abs()
df

,School Name,Major,2018,2019,2020,2021,2022
0,Coleman University,ADVERTISING AND PUBLIC RELATIONS,159,190,229,202,338
1,University of Notre Dame,ACTUARIAL SCIENCE,361,253,404,426,278
2,Oakland City University,PUBLIC POLICY,207,217,314,283,337
3,Dominican University of California,COMMUNICATION TECHNOLOGIES,306,122,57,196,225
4,Clearwater Christian College,MISCELLANEOUS EDUCATION,44,31,94,129,78
...,...,...,...,...,...,...,...
9659,Thomas College,SCHOOL STUDENT COUNSELING,40,115,58,91,7
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,119,290,388,429
9661,Embry-Riddle Aeronautical University-Prescott,INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY,226,341,338,432,592
9662,Wesleyan College,PHARMACOLOGY,210,339,351,506,315
9663,Roosevelt University,MARKETING AND MARKETING RESEARCH,64,155,31,50,57

In [26]:
year_columns = [col for col in df.columns if col.isdigit()]

gradual_increase = df[df[year_columns].apply(lambda x: all(x[i] < x[i+1] for i in range(len(x)-1)), axis=1)]

gradual_increase

,School Name,Major,2018,2019,2020,2021,2022
8,Colorado College,ARCHITECTURE,103,105,109,223,303
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,432,476,557,598,640
30,California State University-Bakersfield,PSYCHOLOGY,356,422,509,530,576
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,219,332,414,517,580
73,University of Louisville,BIOCHEMICAL SCIENCES,38,162,393,541,721
...,...,...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,402,554,587,762,796
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,37,175,219,303,310
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,405,542,551,622,624
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,119,290,388,429

In [27]:
filtered_df1 = gradual_increase[gradual_increase['2019'] != 0]

filtered_df1

,School Name,Major,2018,2019,2020,2021,2022
8,Colorado College,ARCHITECTURE,103,105,109,223,303
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,432,476,557,598,640
30,California State University-Bakersfield,PSYCHOLOGY,356,422,509,530,576
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,219,332,414,517,580
73,University of Louisville,BIOCHEMICAL SCIENCES,38,162,393,541,721
...,...,...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,402,554,587,762,796
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,37,175,219,303,310
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,405,542,551,622,624
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,119,290,388,429

In [28]:
three_yrs_booming = filtered_df1.drop(['2018', '2019'], axis=1)

three_yrs_booming

,School Name,Major,2020,2021,2022
8,Colorado College,ARCHITECTURE,109,223,303
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,557,598,640
30,California State University-Bakersfield,PSYCHOLOGY,509,530,576
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,414,517,580
73,University of Louisville,BIOCHEMICAL SCIENCES,393,541,721
...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,587,762,796
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,219,303,310
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,551,622,624
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,290,388,429

In [29]:
ratio_2020_2021 = (gradual_increase['2021'] - gradual_increase['2020']) / gradual_increase['2021'] * 100

ratio_2021_2022 = (gradual_increase['2022'] - gradual_increase['2021']) / gradual_increase['2022'] * 100

three_yrs_booming['ratio_2020_2021'] = ratio_2020_2021
three_yrs_booming['ratio_2021_2022'] = ratio_2021_2022

three_yrs_booming

,School Name,Major,2020,2021,2022,ratio_2020_2021,ratio_2021_2022
8,Colorado College,ARCHITECTURE,109,223,303,51.121076,26.402640
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,557,598,640,6.856187,6.562500
30,California State University-Bakersfield,PSYCHOLOGY,509,530,576,3.962264,7.986111
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,414,517,580,19.922631,10.862069
73,University of Louisville,BIOCHEMICAL SCIENCES,393,541,721,27.356747,24.965326
...,...,...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,587,762,796,22.965879,4.271357
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,57.723577,22.397476
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,219,303,310,27.722772,2.258065
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,551,622,624,11.414791,0.320513
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,290,388,429,25.257732,9.557110

In [30]:
three_yrs_booming['Average_ratio'] = three_yrs_booming[['ratio_2020_2021', 'ratio_2021_2022']].mean(axis=1)

columns_to_round = ['ratio_2020_2021', 'ratio_2021_2022', 'Average_ratio']
three_yrs_booming[columns_to_round] = three_yrs_booming[columns_to_round].round(1)

three_yrs_booming[columns_to_round] = three_yrs_booming[columns_to_round].abs()

three_yrs_booming

,School Name,Major,2020,2021,2022,ratio_2020_2021,ratio_2021_2022,Average_ratio
8,Colorado College,ARCHITECTURE,109,223,303,51.1,26.4,38.8
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,557,598,640,6.9,6.6,6.7
30,California State University-Bakersfield,PSYCHOLOGY,509,530,576,4.0,8.0,6.0
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,414,517,580,19.9,10.9,15.4
73,University of Louisville,BIOCHEMICAL SCIENCES,393,541,721,27.4,25.0,26.2
...,...,...,...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,587,762,796,23.0,4.3,13.6
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,57.7,22.4,40.1
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,219,303,310,27.7,2.3,15.0
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,551,622,624,11.4,0.3,5.9
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,290,388,429,25.3,9.6,17.4

In [31]:
three_yrs_booming['Std_Dev'] = three_yrs_booming[['2020', '2021', '2022']].std(axis=1)
three_yrs_booming['Std_Dev'] = three_yrs_booming['Std_Dev'].round(1)
three_yrs_booming

,School Name,Major,2020,2021,2022,ratio_2020_2021,ratio_2021_2022,Average_ratio,Std_Dev
8,Colorado College,ARCHITECTURE,109,223,303,51.1,26.4,38.8,97.5
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,557,598,640,6.9,6.6,6.7,41.5
30,California State University-Bakersfield,PSYCHOLOGY,509,530,576,4.0,8.0,6.0,34.3
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,414,517,580,19.9,10.9,15.4,83.8
73,University of Louisville,BIOCHEMICAL SCIENCES,393,541,721,27.4,25.0,26.2,164.3
...,...,...,...,...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,587,762,796,23.0,4.3,13.6,112.1
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,57.7,22.4,40.1,108.5
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,219,303,310,27.7,2.3,15.0,50.6
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,551,622,624,11.4,0.3,5.9,41.6
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,290,388,429,25.3,9.6,17.4,71.4

In [32]:
new_three_yrs_booming = three_yrs_booming.drop(['ratio_2020_2021', 'ratio_2021_2022'], axis=1)
new_three_yrs_booming

,School Name,Major,2020,2021,2022,Average_ratio,Std_Dev
8,Colorado College,ARCHITECTURE,109,223,303,38.8,97.5
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,557,598,640,6.7,41.5
30,California State University-Bakersfield,PSYCHOLOGY,509,530,576,6.0,34.3
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,414,517,580,15.4,83.8
73,University of Louisville,BIOCHEMICAL SCIENCES,393,541,721,26.2,164.3
...,...,...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,587,762,796,13.6,112.1
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,40.1,108.5
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,219,303,310,15.0,50.6
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,551,622,624,5.9,41.6
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,290,388,429,17.4,71.4

In [33]:
new_three_yrs_booming = new_three_yrs_booming.rename(columns={'Name': 'School Name'})

In [34]:
new_three_yrs_booming.to_excel('new_three_yrs_booming.xlsx',index=False)

In [35]:
threshold_avg_int = 40
threshold_std_dev = 55

booming_courses_avg_int = new_three_yrs_booming[new_three_yrs_booming['Average_ratio'] >= threshold_avg_int][['School Name', 'Major', '2020', '2021', '2022', 'Average_ratio', 'Std_Dev']]
booming_courses_std_dev = new_three_yrs_booming[new_three_yrs_booming['Std_Dev'] > threshold_std_dev][['School Name', 'Major', '2020', '2021', '2022', 'Average_ratio', 'Std_Dev']]

booming_courses = pd.concat([booming_courses_avg_int, booming_courses_std_dev], ignore_index=True)
booming_courses = booming_courses[booming_courses['Average_ratio'] >= threshold_avg_int]
booming_courses = booming_courses[booming_courses['Std_Dev'] >= threshold_std_dev]

booming_courses

,School Name,Major,2020,2021,2022,Average_ratio,Std_Dev
0,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,29,176,203,48.4,93.6
1,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,66,177,259,47.2,96.9
2,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,18,41,146,64.0,68.2
3,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,60,172,218,43.1,81.3
4,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,60,117,228,48.7,85.4
5,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,70,209,250,41.5,94.3
7,Western State Colorado University,GENERAL BUSINESS,35,106,149,47.9,57.6
8,Transylvania University,COMPUTER ENGINEERING,108,253,399,47.0,145.5
9,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,99,201,356,47.1,129.4
10,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,128,254,388,42.1,130.0
11,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,96,220,288,40.0,97.4
12,Life University,COMMUNITY AND PUBLIC HEALTH,59,204,309,52.5,125.5
13,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,53,128,265,55.1,107.5
14,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,49,82,209,50.5,84.5
15,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,122,304,398,41.7,140.3
16,Naropa University,JOURNALISM,28,198,272,56.5,125.1
17,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,71,174,356,55.2,144.3
18,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,42,79,194,53.1,79.3
19,Howard University,MILITARY TECHNOLOGIES,38,59,252,56.1,118.0
20,Bradley University,BIOLOGY,86,138,242,40.3,79.4
21,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,61,224,357,55.0,148.3
22,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,40.1,108.5
36,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,29,176,203,48.4,93.6
96,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,66,177,259,47.2,96.9
120,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,18,41,146,64.0,68.2
126,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,60,172,218,43.1,81.3
195,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,60,117,228,48.7,85.4
199,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,70,209,250,41.5,94.3
230,Western State Colorado University,GENERAL BUSINESS,35,106,149,47.9,57.6
243,Transylvania University,COMPUTER ENGINEERING,108,253,399,47.0,145.5
245,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,99,201,356,47.1,129.4
270,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,128,254,388,42.1,130.0
284,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,96,220,288,40.0,97.4
289,Life University,COMMUNITY AND PUBLIC HEALTH,59,204,309,52.5,125.5
307,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,53,128,265,55.1,107.5
311,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,49,82,209,50.5,84.5
322,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,122,304,398,41.7,140.3
336,Naropa University,JOURNALISM,28,198,272,56.5,125.1
378,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,71,174,356,55.2,144.3
384,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,42,79,194,53.1,79.3
420,Howard University,MILITARY TECHNOLOGIES,38,59,252,56.1,118.0
424,Bradley University,BIOLOGY,86,138,242,40.3,79.4
425,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,61,224,357,55.0,148.3
452,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,40.1,108.5

In [36]:
sorted_in_desc = booming_courses.sort_values(by=['Std_Dev'], ascending=False)
sorted_in_desc

,School Name,Major,2020,2021,2022,Average_ratio,Std_Dev
425,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,61,224,357,55.0,148.3
21,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,61,224,357,55.0,148.3
243,Transylvania University,COMPUTER ENGINEERING,108,253,399,47.0,145.5
8,Transylvania University,COMPUTER ENGINEERING,108,253,399,47.0,145.5
378,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,71,174,356,55.2,144.3
17,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,71,174,356,55.2,144.3
15,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,122,304,398,41.7,140.3
322,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,122,304,398,41.7,140.3
270,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,128,254,388,42.1,130.0
10,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,128,254,388,42.1,130.0
9,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,99,201,356,47.1,129.4
245,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,99,201,356,47.1,129.4
289,Life University,COMMUNITY AND PUBLIC HEALTH,59,204,309,52.5,125.5
12,Life University,COMMUNITY AND PUBLIC HEALTH,59,204,309,52.5,125.5
336,Naropa University,JOURNALISM,28,198,272,56.5,125.1
16,Naropa University,JOURNALISM,28,198,272,56.5,125.1
420,Howard University,MILITARY TECHNOLOGIES,38,59,252,56.1,118.0
19,Howard University,MILITARY TECHNOLOGIES,38,59,252,56.1,118.0
22,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,40.1,108.5
452,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,40.1,108.5
307,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,53,128,265,55.1,107.5
13,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,53,128,265,55.1,107.5
284,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,96,220,288,40.0,97.4
11,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,96,220,288,40.0,97.4
1,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,66,177,259,47.2,96.9
96,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,66,177,259,47.2,96.9
5,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,70,209,250,41.5,94.3
199,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,70,209,250,41.5,94.3
0,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,29,176,203,48.4,93.6
36,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,29,176,203,48.4,93.6
195,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,60,117,228,48.7,85.4
4,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,60,117,228,48.7,85.4
311,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,49,82,209,50.5,84.5
14,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,49,82,209,50.5,84.5
126,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,60,172,218,43.1,81.3
3,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,60,172,218,43.1,81.3
20,Bradley University,BIOLOGY,86,138,242,40.3,79.4
424,Bradley University,BIOLOGY,86,138,242,40.3,79.4
18,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,42,79,194,53.1,79.3
384,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,42,79,194,53.1,79.3
120,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,18,41,146,64.0,68.2
2,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,18,41,146,64.0,68.2
230,Western State Colorado University,GENERAL BUSINESS,35,106,149,47.9,57.6
7,Western State Colorado University,GENERAL BUSINESS,35,106,149,47.9,57.6

In [55]:
sorted_in_desc_new=sorted_in_desc.drop_duplicates()
sorted_in_desc_new

,School Name,Major,2020,2021,2022,Average_ratio,Std_Dev
425,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,61,224,357,55.0,148.3
243,Transylvania University,COMPUTER ENGINEERING,108,253,399,47.0,145.5
378,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,71,174,356,55.2,144.3
15,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,122,304,398,41.7,140.3
270,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,128,254,388,42.1,130.0
9,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,99,201,356,47.1,129.4
289,Life University,COMMUNITY AND PUBLIC HEALTH,59,204,309,52.5,125.5
336,Naropa University,JOURNALISM,28,198,272,56.5,125.1
420,Howard University,MILITARY TECHNOLOGIES,38,59,252,56.1,118.0
22,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,40.1,108.5
307,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,53,128,265,55.1,107.5
284,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,96,220,288,40.0,97.4
1,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,66,177,259,47.2,96.9
5,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,70,209,250,41.5,94.3
0,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,29,176,203,48.4,93.6
195,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,60,117,228,48.7,85.4
311,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,49,82,209,50.5,84.5
126,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,60,172,218,43.1,81.3
20,Bradley University,BIOLOGY,86,138,242,40.3,79.4
18,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,42,79,194,53.1,79.3
120,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,18,41,146,64.0,68.2
230,Western State Colorado University,GENERAL BUSINESS,35,106,149,47.9,57.6

In [61]:
booming_majors_uni_yearwise = pd.merge(sorted_in_desc_new, filtered_df1[['School Name', 'Major', '2018', '2019']], on=['School Name', 'Major'], how='left')

booming_majors_uni_yearwise = booming_majors_uni_yearwise.rename(columns={'2020': '2020', '2021': '2021', '2022': '2022', 'Average_ratio': 'Average_ratio', 'Std_Dev': 'Std_Dev'})

column_order = ['School Name', 'Major', '2018', '2019', '2020', '2021', '2022', 'Average_ratio', 'Std_Dev']
booming_majors_uni_yearwise = booming_majors_uni_yearwise[column_order]

booming_majors_uni_yearwise

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev
0,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,13,51,61,224,357,55.0,148.3
1,Transylvania University,COMPUTER ENGINEERING,29,79,108,253,399,47.0,145.5
2,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,33,46,71,174,356,55.2,144.3
3,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,107,114,122,304,398,41.7,140.3
4,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,53,74,128,254,388,42.1,130.0
5,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,38,57,99,201,356,47.1,129.4
6,Life University,COMMUNITY AND PUBLIC HEALTH,3,7,59,204,309,52.5,125.5
7,Naropa University,JOURNALISM,19,24,28,198,272,56.5,125.1
8,Howard University,MILITARY TECHNOLOGIES,1,10,38,59,252,56.1,118.0
9,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317,40.1,108.5
10,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,6,34,53,128,265,55.1,107.5
11,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,9,70,96,220,288,40.0,97.4
12,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,6,12,66,177,259,47.2,96.9
13,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,15,32,70,209,250,41.5,94.3
14,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,5,24,29,176,203,48.4,93.6
15,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,19,31,60,117,228,48.7,85.4
16,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,4,25,49,82,209,50.5,84.5
17,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,16,35,60,172,218,43.1,81.3
18,Bradley University,BIOLOGY,18,29,86,138,242,40.3,79.4
19,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,5,8,42,79,194,53.1,79.3
20,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,10,14,18,41,146,64.0,68.2
21,Western State Colorado University,GENERAL BUSINESS,8,20,35,106,149,47.9,57.6

In [62]:

booming_majors_uni_yearwise.to_excel('booming_majors_uni_yearwise.xlsx', index=False)

In [63]:
rows = []

for index, row in booming_majors_uni_yearwise.iterrows():
    school_name = row['School Name']
    major = row['Major']
    for year in ['2018', '2019', '2020', '2021', '2022']:
        academic_year = f"{int(year)}/{int(year)+1}"
        grand_total = row[year]
        rows.append([school_name, major, academic_year, grand_total])

reshaped_booming_majors_uni_yearwise = pd.DataFrame(rows, columns=['School Name', 'Major', 'Academic Year', 'Grand Total'])

reshaped_booming_majors_uni_yearwise['Academic Year'] = reshaped_booming_majors_uni_yearwise['Academic Year'].apply(lambda x: x.split('/')[0])

reshaped_booming_majors_uni_yearwise

,School Name,Major,Academic Year,Grand Total
0,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2018,13
1,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2019,51
2,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2020,61
3,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2021,224
4,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2022,357
...,...,...,...,...
105,Western State Colorado University,GENERAL BUSINESS,2018,8
106,Western State Colorado University,GENERAL BUSINESS,2019,20
107,Western State Colorado University,GENERAL BUSINESS,2020,35
108,Western State Colorado University,GENERAL BUSINESS,2021,106
109,Western State Colorado University,GENERAL BUSINESS,2022,149

In [64]:
reshaped_booming_majors_uni_yearwise.to_excel('reshaped_booming_majors_uni_yearwise.xlsx',index=False)

# top majors  for every university

In [46]:
new_three_yrs_booming

,School Name,Major,2020,2021,2022,Average_ratio,Std_Dev
8,Colorado College,ARCHITECTURE,109,223,303,38.8,97.5
22,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,557,598,640,6.7,41.5
30,California State University-Bakersfield,PSYCHOLOGY,509,530,576,6.0,34.3
44,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,414,517,580,15.4,83.8
73,University of Louisville,BIOCHEMICAL SCIENCES,393,541,721,26.2,164.3
...,...,...,...,...,...,...,...
9595,University of Maine at Augusta,PUBLIC POLICY,587,762,796,13.6,112.1
9596,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,104,246,317,40.1,108.5
9641,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,219,303,310,15.0,50.6
9656,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,551,622,624,5.9,41.6
9660,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,290,388,429,17.4,71.4

In [47]:
sort_uni_together = new_three_yrs_booming.sort_values(by=['School Name', 'Major'])

sort_uni_together

,School Name,Major,2020,2021,2022,Average_ratio,Std_Dev
4922,Adams State University,ENGLISH LANGUAGE AND LITERATURE,618,628,706,6.3,48.2
1849,Agnes Scott College,GEOSCIENCES,383,484,505,12.5,65.2
8706,Agnes Scott College,MECHANICAL ENGINEERING RELATED TECHNOLOGIES,752,790,811,3.7,29.9
2839,Alabama A & M University,FORESTRY,490,492,678,13.9,108.0
6364,Alaska Pacific University,DRAMA AND THEATER ARTS,452,530,625,15.0,86.6
...,...,...,...,...,...,...,...
8854,Woodbury University,SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION,229,310,388,23.1,79.5
3646,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,60,117,228,48.7,85.4
3625,Yale University,COMMUNICATIONS,418,425,517,9.7,55.2
4541,Yale University,MOLECULAR BIOLOGY,81,114,182,33.2,51.5
7101,Yale University,PLANT SCIENCE AND AGRONOMY,554,611,669,9.0,57.5

In [48]:
top3_booming_majors = pd.merge(sort_uni_together, filtered_df1[['School Name', 'Major', '2018', '2019']], on=['School Name', 'Major'], how='left')

top3_booming_majors = top3_booming_majors.rename(columns={'2020': '2020', '2021': '2021', '2022': '2022', 'Average_ratio': 'Average_ratio', 'Std_Dev': 'Std_Dev'})

column_order = ['School Name', 'Major', '2018', '2019', '2020', '2021', '2022', 'Average_ratio', 'Std_Dev']
top3_booming_majors = top3_booming_majors[column_order]

top3_booming_majors

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev
0,Adams State University,ENGLISH LANGUAGE AND LITERATURE,380,446,618,628,706,6.3,48.2
1,Agnes Scott College,GEOSCIENCES,1,148,383,484,505,12.5,65.2
2,Agnes Scott College,MECHANICAL ENGINEERING RELATED TECHNOLOGIES,476,558,752,790,811,3.7,29.9
3,Alabama A & M University,FORESTRY,291,487,490,492,678,13.9,108.0
4,Alaska Pacific University,DRAMA AND THEATER ARTS,227,363,452,530,625,15.0,86.6
...,...,...,...,...,...,...,...,...,...
636,Woodbury University,SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION,94,156,229,310,388,23.1,79.5
637,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,19,31,60,117,228,48.7,85.4
638,Yale University,COMMUNICATIONS,142,244,418,425,517,9.7,55.2
639,Yale University,MOLECULAR BIOLOGY,60,68,81,114,182,33.2,51.5
640,Yale University,PLANT SCIENCE AND AGRONOMY,491,518,554,611,669,9.0,57.5

In [69]:
rows = []

for index, row in top3_booming_majors.iterrows():
    school_name = row['School Name']
    major = row['Major']
    for year in ['2018', '2019', '2020', '2021', '2022']:
        academic_year = f"{int(year)}/{int(year)+1}"
        grand_total = row[year]
        rows.append([school_name, major, academic_year, grand_total])

reshaped_booming_majors_top3_for_everyuni = pd.DataFrame(rows, columns=['School Name', 'Major', 'Academic Year', 'Grand Total'])

reshaped_booming_majors_top3_for_everyuni['Academic Year'] = reshaped_booming_majors_top3_for_everyuni['Academic Year'].apply(lambda x: x.split('/')[0])

reshaped_booming_majors_top3_for_everyuni

,School Name,Major,Academic Year,Grand Total
0,Adams State University,ENGLISH LANGUAGE AND LITERATURE,2018,380
1,Adams State University,ENGLISH LANGUAGE AND LITERATURE,2019,446
2,Adams State University,ENGLISH LANGUAGE AND LITERATURE,2020,618
3,Adams State University,ENGLISH LANGUAGE AND LITERATURE,2021,628
4,Adams State University,ENGLISH LANGUAGE AND LITERATURE,2022,706
...,...,...,...,...
3200,Yale University,PLANT SCIENCE AND AGRONOMY,2018,491
3201,Yale University,PLANT SCIENCE AND AGRONOMY,2019,518
3202,Yale University,PLANT SCIENCE AND AGRONOMY,2020,554
3203,Yale University,PLANT SCIENCE AND AGRONOMY,2021,611
3204,Yale University,PLANT SCIENCE AND AGRONOMY,2022,669

In [71]:
reshaped_booming_majors_top3_for_everyuni.to_excel('booming_majors_top3_for_everyuni.xlsx',index=False)

# top majors for top university  (threshold set)

In [81]:
booming_majors_uni_yearwise

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev
0,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,13,51,61,224,357,55.0,148.3
1,Transylvania University,COMPUTER ENGINEERING,29,79,108,253,399,47.0,145.5
2,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,33,46,71,174,356,55.2,144.3
3,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,107,114,122,304,398,41.7,140.3
4,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,53,74,128,254,388,42.1,130.0
5,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,38,57,99,201,356,47.1,129.4
6,Life University,COMMUNITY AND PUBLIC HEALTH,3,7,59,204,309,52.5,125.5
7,Naropa University,JOURNALISM,19,24,28,198,272,56.5,125.1
8,Howard University,MILITARY TECHNOLOGIES,1,10,38,59,252,56.1,118.0
9,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317,40.1,108.5
10,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,6,34,53,128,265,55.1,107.5
11,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,9,70,96,220,288,40.0,97.4
12,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,6,12,66,177,259,47.2,96.9
13,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,15,32,70,209,250,41.5,94.3
14,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,5,24,29,176,203,48.4,93.6
15,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,19,31,60,117,228,48.7,85.4
16,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,4,25,49,82,209,50.5,84.5
17,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,16,35,60,172,218,43.1,81.3
18,Bradley University,BIOLOGY,18,29,86,138,242,40.3,79.4
19,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,5,8,42,79,194,53.1,79.3
20,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,10,14,18,41,146,64.0,68.2
21,Western State Colorado University,GENERAL BUSINESS,8,20,35,106,149,47.9,57.6

In [80]:
major_for_threshold_uni = pd.merge(three_yrs_booming, filtered_df1[['School Name', 'Major', '2018', '2019']], on=['School Name', 'Major'], how='left')

major_for_threshold_uni = major_for_threshold_uni.rename(columns={'2020': '2020', '2021': '2021', '2022': '2022', 'Average_ratio': 'Average_ratio', 'Std_Dev': 'Std_Dev'})

column_order = ['School Name', 'Major', '2018', '2019', '2020', '2021', '2022', 'Average_ratio', 'Std_Dev']
major_for_threshold_uni = major_for_threshold_uni[column_order]

major_for_threshold_uni

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev
0,Colorado College,ARCHITECTURE,103,105,109,223,303,38.8,97.5
1,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,432,476,557,598,640,6.7,41.5
2,California State University-Bakersfield,PSYCHOLOGY,356,422,509,530,576,6.0,34.3
3,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,219,332,414,517,580,15.4,83.8
4,University of Louisville,BIOCHEMICAL SCIENCES,38,162,393,541,721,26.2,164.3
...,...,...,...,...,...,...,...,...,...
636,University of Maine at Augusta,PUBLIC POLICY,402,554,587,762,796,13.6,112.1
637,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317,40.1,108.5
638,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,37,175,219,303,310,15.0,50.6
639,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,405,542,551,622,624,5.9,41.6
640,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,119,290,388,429,17.4,71.4

In [83]:
major_for_threshold_uni.to_excel('major_for_threshold_uni.xlsx',index=False)

In [85]:
df4=pd.read_excel('top major for threshold uni.xlsx')
df4

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev
0,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,13,51,61,224,357,55.0,148.3
1,University of Maine at Presque Isle,N/A (less than bachelor's degree),150,268,370,457,573,19.6,101.8
2,University of Maine at Presque Isle,SOCIOLOGY,52,172,301,481,549,24.9,128.1
3,Transylvania University,COMPUTER ENGINEERING,29,79,108,253,399,47.0,145.5
4,Transylvania University,ASTRONOMY AND ASTROPHYSICS,48,140,156,164,327,27.4,96.5
5,Transylvania University,UNITED STATES HISTORY,464,554,631,677,694,4.6,32.6
6,University of California-Santa Barbara,ARCHITECTURAL ENGINEERING,33,46,71,174,356,55.2,144.3
7,Saint Mary-of-the-Woods College,BUSINESS MANAGEMENT AND ADMINISTRATION,107,114,122,304,398,41.7,140.3
8,Saint Mary-of-the-Woods College,MISCELLANEOUS SOCIAL SCIENCES,485,492,580,732,796,14.4,110.9
9,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,53,74,128,254,388,42.1,130.0
10,Fort Valley State University,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,53,74,128,254,388,42.1,130.0
11,Fort Valley State University,GENETICS,400,541,630,743,820,12.3,95.6
12,Thomas Aquinas College,ENVIRONMENTAL ENGINEERING,38,57,99,201,356,47.1,129.4
13,Thomas Aquinas College,ELECTRICAL ENGINEERING TECHNOLOGY,211,293,355,415,536,18.5,92.2
14,Thomas Aquinas College,INTERDISCIPLINARY SOCIAL SCIENCES,415,443,500,657,733,17.1,118.8
15,Life University,COMMUNITY AND PUBLIC HEALTH,3,7,59,204,309,52.5,125.5
16,Life University,MISCELLANEOUS FINE ARTS,330,397,399,417,485,9.2,45.4
17,Naropa University,JOURNALISM,19,24,28,198,272,56.5,125.1
18,Naropa University,HEALTH AND MEDICAL PREPARATORY PROGRAMS,380,524,624,625,706,5.8,47.1
19,Howard University,MILITARY TECHNOLOGIES,1,10,38,59,252,56.1,118.0
20,Howard University,ANTHROPOLOGY AND ARCHEOLOGY,345,370,432,439,603,14.4,96.8
21,Howard University,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,427,515,633,813,822,11.6,106.6
22,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317,40.1,108.5
23,Mercer University,TEACHER EDUCATION: MULTIPLE LEVELS,6,34,53,128,265,55.1,107.5
24,Mercer University,SOIL SCIENCE,142,315,334,489,495,16.5,91.3
25,Embry-Riddle Aeronautical University-Daytona B...,OPERATIONS LOGISTICS AND E-COMMERCE,9,70,96,220,288,40.0,97.4
26,Western Kentucky University,EDUCATIONAL PSYCHOLOGY,6,12,66,177,259,47.2,96.9
27,Western Kentucky University,HISTORY,17,116,232,252,291,10.7,30.0
28,University of Indianapolis,PRE-LAW AND LEGAL STUDIES,15,32,70,209,250,41.5,94.3
29,Coleman University,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,5,24,29,176,203,48.4,93.6
30,Xavier University of Louisiana,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,19,31,60,117,228,48.7,85.4
31,University of Central Arkansas,FAMILY AND CONSUMER SCIENCES,4,25,49,82,209,50.5,84.5
32,University of Dubuque,MISCELLANEOUS PSYCHOLOGY,16,35,60,172,218,43.1,81.3
33,University of Dubuque,INTERDISCIPLINARY SOCIAL SCIENCES,360,373,397,499,639,21.2,121.5
34,University of Dubuque,ENVIRONMENTAL ENGINEERING,119,127,275,389,499,25.7,112.0
35,Bradley University,BIOLOGY,18,29,86,138,242,40.3,79.4
36,Bradley University,MECHANICAL ENGINEERING,276,396,449,505,513,6.3,34.9
37,Bradley University,MATHEMATICS,453,525,685,696,750,4.4,34.8
38,California State University-Sacramento,ENGINEERING AND INDUSTRIAL MANAGEMENT,5,8,42,79,194,53.1,79.3
39,California State University-Sacramento,ACTUARIAL SCIENCE,170,173,179,183,185,1.6,3.1
40,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,10,14,18,41,146,64.0,68.2
41,Arizona State University-Tempe,MATHEMATICS AND COMPUTER SCIENCE,10,14,18,41,146,64.0,68.2
42,Arizona State University-Tempe,AGRICULTURE PRODUCTION AND MANAGEMENT,164,175,269,337,350,11.9,43.5
43,Western State Colorado University,GENERAL BUSINESS,8,20,35,106,149,47.9,57.6

In [101]:
rows = []

for index, row in df4.iterrows():
    school_name = row['School Name']
    major = row['Major']
    for year in ['2018', '2019', '2020', '2021', '2022']:
        academic_year = f"{int(year)}/{int(year)+1}"
        grand_total = row[year]
        rows.append([school_name, major, academic_year, grand_total])

reshaped_booming_majors_top_uni = pd.DataFrame(rows, columns=['School Name', 'Major', 'Academic Year', 'Grand Total'])

reshaped_booming_majors_top_uni['Academic Year'] = reshaped_booming_majors_top_uni['Academic Year'].apply(lambda x: x.split('/')[0])

reshaped_booming_majors_top_uni

,School Name,Major,Academic Year,Grand Total
0,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2018,13
1,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2019,51
2,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2020,61
3,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2021,224
4,University of Maine at Presque Isle,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,2022,357
...,...,...,...,...
215,Western State Colorado University,GENERAL BUSINESS,2018,8
216,Western State Colorado University,GENERAL BUSINESS,2019,20
217,Western State Colorado University,GENERAL BUSINESS,2020,35
218,Western State Colorado University,GENERAL BUSINESS,2021,106
219,Western State Colorado University,GENERAL BUSINESS,2022,149

In [102]:
reshaped_booming_majors_top_uni.to_excel('reshaped_booming_majors_top_uni.xlsx',index=False)

# bubble chart display year 2022 with country and ranking info

In [87]:
df7=pd.read_excel('IPEDS_data.xlsx')
df7

,ID number,Name,year,ZIP code,Highest degree offered,County name,Longitude location of institution,Latitude location of institution,Religious affiliation,Offers Less than one year certificate,...,Percent of freshmen receiving federal grant aid,Percent of freshmen receiving Pell grants,Percent of freshmen receiving other federal grant aid,Percent of freshmen receiving state/local grant aid,Percent of freshmen receiving institutional grant aid,Percent of freshmen receiving student loan aid,Percent of freshmen receiving federal student loans,Percent of freshmen receiving other loan aid,Endowment assets (year end) per FTE enrollment (GASB),Endowment assets (year end) per FTE enrollment (FASB)
0,100654,Alabama A & M University,2013,35762,Doctor's degree - research/scholarship,Madison County,-86.568502,34.783368,Not applicable,Implied no,...,81.0,81.0,7.0,1.0,32.0,89.0,89.0,1.0,NaN,NaN
1,100663,University of Alabama at Birmingham,2013,35294-0110,Doctor's degree - research/scholarship and pro...,Jefferson County,-86.809170,33.502230,Not applicable,Implied no,...,36.0,36.0,10.0,0.0,60.0,56.0,55.0,5.0,24136.0,NaN
2,100690,Amridge University,2013,36117-3553,Doctor's degree - research/scholarship and pro...,Montgomery County,-86.174010,32.362609,Churches of Christ,Implied no,...,90.0,90.0,0.0,40.0,90.0,100.0,100.0,0.0,NaN,302.0
3,100706,University of Alabama in Huntsville,2013,35899,Doctor's degree - research/scholarship and pro...,Madison County,-86.638420,34.722818,Not applicable,Yes,...,31.0,31.0,4.0,1.0,63.0,46.0,46.0,3.0,11502.0,NaN
4,100724,Alabama State University,2013,36104-0271,Doctor's degree - research/scholarship and pro...,Montgomery County,-86.295677,32.364317,Not applicable,Implied no,...,76.0,76.0,13.0,11.0,34.0,81.0,81.0,0.0,13202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,451671,University of South Florida-Sarasota-Manatee,2013,34243-2049,Master's degree,Manatee County,-82.562951,27.391766,Not applicable,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4422.0,NaN
1530,454184,The KingÃ¢â‚¬â„¢s College,2013,10004,Bachelor's degree,New York County,-74.012348,40.706861,Interdenominational,Implied no,...,34.0,34.0,10.0,4.0,100.0,57.0,56.0,12.0,NaN,935.0
1531,454582,Ottawa University-Online,2013,66067,Master's degree,Franklin County,-95.263775,38.602692,American Baptist,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20863.0
1532,455770,Providence Christian College,2013,91104,Bachelor's degree,Los Angeles County,-118.118491,34.172750,Undenominational,Implied no,...,50.0,50.0,14.0,0.0,100.0,64.0,64.0,14.0,NaN,350.0
1533,456490,Polytechnic University of Puerto Rico-Orlando,2013,32825,Master's degree,Orange County,-81.254951,28.551470,Not applicable,Implied no,...,100.0,100.0,0.0,50.0,0.0,50.0,50.0,0.0,NaN,NaN

In [88]:
df7 = df7.rename(columns={'Name': 'School Name'})
df7

,ID number,School Name,year,ZIP code,Highest degree offered,County name,Longitude location of institution,Latitude location of institution,Religious affiliation,Offers Less than one year certificate,...,Percent of freshmen receiving federal grant aid,Percent of freshmen receiving Pell grants,Percent of freshmen receiving other federal grant aid,Percent of freshmen receiving state/local grant aid,Percent of freshmen receiving institutional grant aid,Percent of freshmen receiving student loan aid,Percent of freshmen receiving federal student loans,Percent of freshmen receiving other loan aid,Endowment assets (year end) per FTE enrollment (GASB),Endowment assets (year end) per FTE enrollment (FASB)
0,100654,Alabama A & M University,2013,35762,Doctor's degree - research/scholarship,Madison County,-86.568502,34.783368,Not applicable,Implied no,...,81.0,81.0,7.0,1.0,32.0,89.0,89.0,1.0,NaN,NaN
1,100663,University of Alabama at Birmingham,2013,35294-0110,Doctor's degree - research/scholarship and pro...,Jefferson County,-86.809170,33.502230,Not applicable,Implied no,...,36.0,36.0,10.0,0.0,60.0,56.0,55.0,5.0,24136.0,NaN
2,100690,Amridge University,2013,36117-3553,Doctor's degree - research/scholarship and pro...,Montgomery County,-86.174010,32.362609,Churches of Christ,Implied no,...,90.0,90.0,0.0,40.0,90.0,100.0,100.0,0.0,NaN,302.0
3,100706,University of Alabama in Huntsville,2013,35899,Doctor's degree - research/scholarship and pro...,Madison County,-86.638420,34.722818,Not applicable,Yes,...,31.0,31.0,4.0,1.0,63.0,46.0,46.0,3.0,11502.0,NaN
4,100724,Alabama State University,2013,36104-0271,Doctor's degree - research/scholarship and pro...,Montgomery County,-86.295677,32.364317,Not applicable,Implied no,...,76.0,76.0,13.0,11.0,34.0,81.0,81.0,0.0,13202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,451671,University of South Florida-Sarasota-Manatee,2013,34243-2049,Master's degree,Manatee County,-82.562951,27.391766,Not applicable,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4422.0,NaN
1530,454184,The KingÃ¢â‚¬â„¢s College,2013,10004,Bachelor's degree,New York County,-74.012348,40.706861,Interdenominational,Implied no,...,34.0,34.0,10.0,4.0,100.0,57.0,56.0,12.0,NaN,935.0
1531,454582,Ottawa University-Online,2013,66067,Master's degree,Franklin County,-95.263775,38.602692,American Baptist,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20863.0
1532,455770,Providence Christian College,2013,91104,Bachelor's degree,Los Angeles County,-118.118491,34.172750,Undenominational,Implied no,...,50.0,50.0,14.0,0.0,100.0,64.0,64.0,14.0,NaN,350.0
1533,456490,Polytechnic University of Puerto Rico-Orlando,2013,32825,Master's degree,Orange County,-81.254951,28.551470,Not applicable,Implied no,...,100.0,100.0,0.0,50.0,0.0,50.0,50.0,0.0,NaN,NaN

In [89]:
merged_df_bubble = pd.merge(major_for_threshold_uni, df7[['School Name', 'County name']], on='School Name', how='left')

merged_df_bubble

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev,County name
0,Colorado College,ARCHITECTURE,103,105,109,223,303,38.8,97.5,El Paso County
1,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,432,476,557,598,640,6.7,41.5,San Diego County
2,California State University-Bakersfield,PSYCHOLOGY,356,422,509,530,576,6.0,34.3,Kern County
3,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,219,332,414,517,580,15.4,83.8,New Haven County
4,University of Louisville,BIOCHEMICAL SCIENCES,38,162,393,541,721,26.2,164.3,Jefferson County
...,...,...,...,...,...,...,...,...,...,...
646,University of Maine at Augusta,PUBLIC POLICY,402,554,587,762,796,13.6,112.1,Kennebec County
647,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317,40.1,108.5,Pope County
648,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,37,175,219,303,310,15.0,50.6,Woodford County
649,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,405,542,551,622,624,5.9,41.6,Jackson County
650,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,119,290,388,429,17.4,71.4,Contra Costa County

In [90]:
merged_df_bubble['County name'] = merged_df_bubble['County name'].str.replace(' County', '')
merged_df_bubble

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev,County name
0,Colorado College,ARCHITECTURE,103,105,109,223,303,38.8,97.5,El Paso
1,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,432,476,557,598,640,6.7,41.5,San Diego
2,California State University-Bakersfield,PSYCHOLOGY,356,422,509,530,576,6.0,34.3,Kern
3,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,219,332,414,517,580,15.4,83.8,New Haven
4,University of Louisville,BIOCHEMICAL SCIENCES,38,162,393,541,721,26.2,164.3,Jefferson
...,...,...,...,...,...,...,...,...,...,...
646,University of Maine at Augusta,PUBLIC POLICY,402,554,587,762,796,13.6,112.1,Kennebec
647,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317,40.1,108.5,Pope
648,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,37,175,219,303,310,15.0,50.6,Woodford
649,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,405,542,551,622,624,5.9,41.6,Jackson
650,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,119,290,388,429,17.4,71.4,Contra Costa

In [91]:
merged_df_bubble.to_excel('merged_df_bubble.xlsx',index=False)

In [92]:
school_names_df = merged_df_bubble[['School Name']].copy()

school_names_df

                                 School Name
0                           Colorado College
1                San Diego Christian College
2    California State University-Bakersfield
3                      Quinnipiac University
4                   University of Louisville
..                                       ...
646           University of Maine at Augusta
647                 Arkansas Tech University
648                           Eureka College
649  Southern Illinois University-Carbondale
650                John F Kennedy University

[651 rows x 1 columns]

In [93]:
df10=school_names_df.drop_duplicates()
df10

                                 School Name
0                           Colorado College
1                San Diego Christian College
2    California State University-Bakersfield
3                      Quinnipiac University
4                   University of Louisville
..                                       ...
637               Olivet Nazarene University
638                   Buena Vista University
641                           Centre College
647                 Arkansas Tech University
650                John F Kennedy University

[366 rows x 1 columns]

In [94]:
df10.to_excel('school_name.xlsx',index=False)

In [95]:
df11=pd.read_excel('ranking_info.xlsx')
df11

                                 School Name  Ranking info
0                           Colorado College           6.0
1                San Diego Christian College           5.4
2    California State University-Bakersfield           3.0
3                      Quinnipiac University           7.0
4                   University of Louisville           6.6
..                                       ...           ...
361               Olivet Nazarene University           7.4
362                   Buena Vista University           7.2
363                           Centre College           4.5
364                 Arkansas Tech University           6.0
365                John F Kennedy University           4.8

[366 rows x 2 columns]

In [97]:

merged_ranking = pd.merge(merged_df_bubble, df11[['School Name', 'Ranking info']], on='School Name', how='left')

merged_ranking

,School Name,Major,2018,2019,2020,2021,2022,Average_ratio,Std_Dev,County name,Ranking info
0,Colorado College,ARCHITECTURE,103,105,109,223,303,38.8,97.5,El Paso,6.0
1,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,432,476,557,598,640,6.7,41.5,San Diego,5.4
2,California State University-Bakersfield,PSYCHOLOGY,356,422,509,530,576,6.0,34.3,Kern,3.0
3,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,219,332,414,517,580,15.4,83.8,New Haven,7.0
4,University of Louisville,BIOCHEMICAL SCIENCES,38,162,393,541,721,26.2,164.3,Jefferson,6.6
...,...,...,...,...,...,...,...,...,...,...,...
646,University of Maine at Augusta,PUBLIC POLICY,402,554,587,762,796,13.6,112.1,Kennebec,6.0
647,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,49,76,104,246,317,40.1,108.5,Pope,6.0
648,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,37,175,219,303,310,15.0,50.6,Woodford,7.2
649,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,405,542,551,622,624,5.9,41.6,Jackson,7.0
650,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,3,119,290,388,429,17.4,71.4,Contra Costa,4.8

In [98]:
final_bubble_chart = merged_ranking.drop(['2018', '2019', '2020', '2021'], axis=1)

final_bubble_chart

,School Name,Major,2022,Average_ratio,Std_Dev,County name,Ranking info
0,Colorado College,ARCHITECTURE,303,38.8,97.5,El Paso,6.0
1,San Diego Christian College,NATURAL RESOURCES MANAGEMENT,640,6.7,41.5,San Diego,5.4
2,California State University-Bakersfield,PSYCHOLOGY,576,6.0,34.3,Kern,3.0
3,Quinnipiac University,OPERATIONS LOGISTICS AND E-COMMERCE,580,15.4,83.8,New Haven,7.0
4,University of Louisville,BIOCHEMICAL SCIENCES,721,26.2,164.3,Jefferson,6.6
...,...,...,...,...,...,...,...
646,University of Maine at Augusta,PUBLIC POLICY,796,13.6,112.1,Kennebec,6.0
647,Arkansas Tech University,HUMAN SERVICES AND COMMUNITY ORGANIZATION,317,40.1,108.5,Pope,6.0
648,Eureka College,PHYSICAL AND HEALTH EDUCATION TEACHING,310,15.0,50.6,Woodford,7.2
649,Southern Illinois University-Carbondale,THEOLOGY AND RELIGIOUS VOCATIONS,624,5.9,41.6,Jackson,7.0
650,John F Kennedy University,ENGLISH LANGUAGE AND LITERATURE,429,17.4,71.4,Contra Costa,4.8

In [100]:
final_bubble_chart.to_excel('final_bubble_chart.xlsx',index=False)